@charset "UTF-8";


html {
    height: 100vh;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.email-result-container {
    width: 370px;
    margin: 60px auto;
    padding: 40px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    margin-bottom: 30px;
    color: #333;
}

a.try-again-link {
    display: inline-block;
    margin-top: 20px;
    color: #26A0E6;
    text-decoration: none;
    transition: color 0.3s;
}

a.try-again-link:hover {
    color: #1a7fb5;
}
