@charset "UTF-8";

/* 메인 */
main {
	margin-top: 63px;
	width: 100%;
	height: auto;
}

/* 전광판 */
section.displayBoard {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background-color: #efefef; */
    background-color: #26A0E6;
    color: #ffffff;
    height: 50px;
    font-size: 19px;
    overflow: hidden;
    position: relative;
}

.displayBoard_inner {
	width: 90%;
    display: flex;
    flex-direction: column;
    animation: scrollAnim 27s infinite;
    position: relative;
}

.displayBoard_publish {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
    line-height: 50px;
}

.displayBoard_mode {
    flex-grow: 1;
}

.displayBoard_publishName {
    flex-grow: 5;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    min-width: 70%;
    max-width: 70%;
    display: block;
}

.displayBoard_date {
    flex-grow: 1;
}

@keyframes scrollAnim {
    0%, 12.5% { transform: translateY(0); }
    25%, 37.5% { transform: translateY(-50px); }
    50%, 62.5% { transform: translateY(-100px); }
    75%, 87.5% { transform: translateY(-150px); }
    100% { transform: translateY(-200px); }
}


/* 배너 */
main section.ad {
	width: 100%;
	height: auto;
	margin-bottom: 100px;
}
main section.ad .adSwiper {
	height: 400px;
}
main section.ad img {
	width: 100%;
	height: 100%;
}
.ad .swiper-button-next,
.ad .swiper-button-prev,
.ad .ad-pagination {
    color: #fff !important;
}
.ad .ad-pagination .swiper-pagination-bullet {
    background-color: #fff !important;
}

/* 섹션 공통 */
.section_publish .publish_header {
		display: flex;
		justify-content: space-between;
	 	align-items: center;
	 	margin-bottom: 20px;
		padding: 0 30px;
}
.section_publish h2 {
	font-weight: normal;
	font-size: 30px;
}
.section_publish button {
    background-color: #26A0E6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.section_publish button:hover {
    background-color: #1E88C6;
}

.publish_cardList {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.publish_cardList .publish_card {
}

.section_publish .publish_card .card_img img {
	width: 350px;
	height: 250px;
	border-radius: 12px;
	transition: transform 0.3s ease;
}
.publish_card .card_img:hover img {
    transform: scale(1.05); 
}

.section_publish .publish_card .card_name {
	margin-top: 15px;
	font-size: 20px;
	font-weight: bold;
	white-space: wrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	max-width: 350px;
	max-height: 50px;
	text-align: left;
}

.section_publish .publish_card .card_etc {
	margin-top: 8px;
	color: gray;
}

.section_publish .swiper-button-next,
.section_publish .swiper-button-prev {
    color: var(--main-color) !important;
   	 transform: scale(0.7);
    width: 30px; 
    height: 30px; 
}
.section_publish .swiper-button-prev:after {
	position: relative;
	bottom: 33px;
	right: 23px;
}
.section_publish .swiper-button-next:after {
	position: relative;
	bottom: 33px;
	left: 23px;
}

/* 최근 공고 */
.recent_publish {
	padding: 0px 100px;
	margin-bottom: 100px;
}

/* 요즘 뜨는 공고 */
.hot_publish {
	padding: 0px 100px;
	margin-bottom: 100px;
}

/* 곧 마감 되는 공고 */
.dday_publish {
	padding: 0px 100px;
	margin-bottom: 200px;
}
